header
  p
    a(ng-if="!currentUser" ng-click="login('google')") login
  div(ng-if="currentUser")
    p
      | {{ currentUser.email }}&nbsp;
      img(src='{{ currentUser.picture}}')
      a(ng-click="logout()") sign out
